<div class="container-fluid">
    <div class="row h-100 align-items-center">
        <div class="col-sm-12 ">
            <div class="card w-50 shadow mx-auto">
                <div class="card-body text-center">
                    <h1 class="card-title text-muted text-center" style="font-size: 5rem;">Ooops!</h1>
                    <h3 class="card-text text">
                        We could not find this page
                    </h3>
                    <div>
                        <a class="btn btn-primary" href="/" role="button">
                            <i class="fa fa-home fa-lg " aria-hidden="true"></i>
                            Home
                        </a>
                        <a name="contactUs" id="contactUs" class="btn btn-success text-white mx-auto my-auto"
                            href="mailto:onlineacademy388421@gmail.com" role="text">
                            <i class="fa fa-envelope mr-2" aria-hidden="true"></i>Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>